body {
    font-family: arial, sans-serif;
    background-color: #0d0d0d;
    color: #e6e6e6;
    padding: 20px;
}

h1, h2{
    color: #00eaff;
}

.intro {
    margin-bottom: 30px;
    font-size: 18px;
}

section {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #333;
}

button {
    background-color: #00eaff;
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0088aa;
}

#quest-output {
    margin-top: 15px;
    font-style: italic;
    color: #e6e6e6;
}